<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> {% block head %}{% endblock %}
    <script data-ad-client="ca-pub-3628031975367435" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <section>
        <div class="box">
            <div class="form">
                {% block body %} {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
